@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

@color-control-box-size: 8px;

@unit-100: 12px;

html {
    overflow-y: scroll;
}

body {
    margin: 0;

    font-size: 25px;

    background-color: #303030;
    color: rgb(73, 68, 68);

}

#container {
    position: fixed;
    top: 0;
    width: 100%;

    display: flex;
    justify-content: space-around;
    align-items: center;

    font-family: serif;
    font-size: 11pt;

    color: #9d9d9d;
    background-color: rgba(25, 25, 25, 0.8);
}

#controls-container {
    display: none;
    position: absolute;
    z-index: 1;

    padding: @unit-100;

    background-color: white;

    border-radius: 5px;

    font-size: 11pt;

    > table#controls {
        border-spacing: @unit-100 0;
        td:first-child {
            font-weight: bold;
            text-align: right;
        }

        .choices > .choice {
            margin: 0 5px;

            &.active {
                text-decoration: underline;
            }

            &:hover {
                background-color: rgb(60, 60, 60);
            }
        }

        .choices-fonts > .choice {
            &[data-font="sans"] {
                font-family: 'Noto Sans JP';
            }

            &[data-font="serif"] {
                font-family: 'Noto Serif JP';
            }
        }
        
        .choices-colors {
            display: inline-flex;

            > .choice {
                display: flex;
                align-items: center;

                padding: 5px 5px;

                > .box {
                    display: inline-block;
                    width: @color-control-box-size;
                    height: @color-control-box-size;

                    border: 1px gray solid;
                }

                &[data-color="light"] > .box {
                    background-color: white;
                }

                &[data-color="dark"] > .box {
                    background-color: black;
                }
            }
        }
    }
}

#counter {
    display: inline-block;

    padding: 8px 5px;
    line-height: 100%;
}

#remove-button {
    display: inline-block;

    padding: 8px 5px;
    line-height: 100%;

    cursor: hand;

    &:hover {
        color: black;
        background-color: rgba(180, 180, 180, 0.8);
    }
}

#texthooker {
    margin: 26px;

    &[data-line-direction="up"] > p:first-child,
    &[data-line-direction="down"] > p:last-child {
        color: #BCBCBC
    }

    &.font-sans {
        font-family: 'Noto Sans JP', sans-serif;
    }

    &.font-serif {
        font-family: 'Noto Serif JP', serif;
    }

    > p {
        margin: 0;

        padding: 12px 0;

        position: relative;

        color: #535353;
    }
}
