@import (css) url('https://unpkg.com/blaze');

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

@color-control-box-size: 8px;

@unit-100: 12px;

@line-spacing: @unit-100;

html {
    overflow-y: scroll;
}

body {
    margin: 0;

    font-size: 25px;

    &[data-shade="dark"] {
        background-color: #303030;

        #texthooker {
            color: rgb(200, 200, 200, 0.5);

            .texthooker-line:last-child {
                color: rgba(200, 200, 200, 0.9) !important;
            }
        }
    }

    &[data-shade="light"] {
        background-color: #BCBCBC;

        #texthooker {
            color: rgba(0, 0, 0, 0.5);

            .texthooker-line:last-child {
                color: rgba(0, 0, 0, 0.9) !important;
            }
        }
    }
}

#container {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;

    display: flex;
    justify-content: space-around;
    align-items: center;

    font-family: serif;
    font-size: 11pt;

    color: #9d9d9d;
    background-color: rgba(25, 25, 25, 0.8);

    > #options-button {
        cursor: pointer;
        user-select: none;

        &:hover {
            text-shadow: 0 0 10px #9d9d9d;
        }
    }
}

#controls-container {
    display: inline;
    position: absolute;
    z-index: 1;
    visibility: collapse;

    padding: @unit-100;

    background-color: white;

    border-radius: 5px;

    font-size: 11pt;

    animation: pop-in 1s;
    animation-fill-mode: forwards;

    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        width: 0;
        height: 0;
        border: 12px solid transparent;
        border-bottom-color: $background-color;
        border-top: 0;
        margin-left: -12px;
        margin-top: -12px;
    }

    > table#controls {
        border-spacing: @unit-100 0;

        td:first-child {
            font-weight: bold;
            text-align: right;
        }

        .choice {
            display: inline-block;

            cursor: pointer;
            user-select: none;
        }

        .choices {
            &:extend(.c-input-group);
            display: flex;
        }

        .choices > .choice {
            &:extend(.c-button--ghost);
            margin: 0 5px;

            &.active {
                text-decoration: underline;
            }

            &:hover {
                text-shadow: 0 0 10px #9d9d9d;
            }

            &.notext {
                &.active {
                    // TODO Fix this jank.
                    padding: 4px 4px;
                    border: 1px solid #535353;
                }

                &:hover {
                    background-color: #AAAAAA;
                }
            }
        }

        .choices-fonts > .choice {
            &[data-font="sans"] {
                font-family: 'Noto Sans JP';
            }

            &[data-font="serif"] {
                font-family: 'Noto Serif JP';
            }
        }
        
        .choices-shades {
            display: inline-flex;

            > .choice {
                display: flex;
                align-items: center;

                padding: 5px 5px;

                > .box {
                    display: inline-block;
                    width: @color-control-box-size;
                    height: @color-control-box-size;

                    border: 1px gray solid;
                }

                &[data-shade="light"] > .box {
                    background-color: white;
                }

                &[data-shade="dark"] > .box {
                    background-color: black;
                }
            }
        }
    }
}

#counter {
    display: inline-block;

    padding: 8px 5px;
    line-height: 100%;
}

#remove-button {
    display: inline-block;

    padding: 8px 5px;
    line-height: 100%;

    cursor: hand;

    &:hover {
        color: black;
        background-color: rgba(180, 180, 180, 0.8);
    }
}

#texthooker {
    margin: 26px;

    display: flex;

    &[data-line-direction="up"] {
        .texthooker-line {
            padding: @line-spacing 0;
        } 
        flex-direction: column-reverse;
    }

    &[data-line-direction="down"] {
        .texthooker-line {
            padding: @line-spacing 0;
        } 
        flex-direction: column;
    }

    &[data-line-direction="left"] {
        .texthooker-line {
            // TODO Fix this hackiness.
            max-height: calc(~'100% - 52px - 57px');
            padding: 0 @line-spacing;

            writing-mode: vertical-rl;
            text-orientation: upright;
        } 
        flex-direction: row-reverse;
    }

    &[data-line-direction="right"] {
        .texthooker-line {
            // TODO Fix this hackiness.
            max-height: calc(~'100% - 52px - 57px');
            padding: 0 @line-spacing;

            writing-mode: vertical-rl;
            text-orientation: upright;
        } 
        flex-direction: row;
    }

    &.font-sans {
        font-family: 'Noto Sans JP', sans-serif;
    }

    &.font-serif {
        font-family: 'Noto Serif JP', serif;
    }

    > .texthooker-line {
        display: flex;
        margin: 0;

        padding: 12px 0;

        justify-content: space-between;
        justify-items: center;

        position: relative;

        color: #535353;

        > .line-delete {
            color: #535353;
            opacity: 0;

            &:hover {
                color: #BCBCBC;
            }
        }

        &:hover > .line-delete {
            opacity: 1;
        }
    }
}
