@import (less) url('https://unpkg.com/blaze@4.2.0/scss/dist/blaze.min.css');

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

@color-control-box-size: 14px;

@unit-100: 12px;

@line-spacing: @unit-100;

@background-color-light: #BCBCBC;
@background-color-dark: #303030;
@background-color-sepia: #FBF0D9;

@text-color-sepia: #5F4B32;

@keyframes pop-in {
    0% { transform: scale(0.5); }
    100% { transform: scale(1); }
}

html {
    overflow-y: scroll;
}

body {
    margin: 0;

    font-size: 25pt;

    &[data-shade="dark"] {
        background-color: @background-color-dark;

        #texthooker {
            color: rgba(200, 200, 200, 0.4);

            .texthooker-line:last-child {
                color: rgba(200, 200, 200, 0.9) !important;
            }
        }
    }

    &[data-shade="light"] {
        background-color: @background-color-light;

        #texthooker {
            color: rgba(0, 0, 0, 0.3);

            .texthooker-line:last-child {
                color: rgba(0, 0, 0, 0.9) !important;
            }
        }
    }

    &[data-shade="sepia"] {
        background-color: @background-color-sepia;

        #texthooker {
            color: fade(@text-color-sepia, 38%);

            .texthooker-line:last-child {
                color: @text-color-sepia !important;
            }
        }
    }
}

#modal-overlay {
    opacity: 0.3;
    z-index: 2;
}

#container {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;

    display: flex;
    justify-content: space-around;
    align-items: center;

    font-family: serif;
    font-size: 11pt;

    color: #9d9d9d;
    background-color: rgba(25, 25, 25, 0.8);

    > #options-button {
        cursor: pointer;
        user-select: none;

        &:hover {
            text-shadow: 0 0 10px #9d9d9d;
        }
    }
}

#controls-container {
    width: auto;
    padding: @unit-100;

    background-color: white;

    border-radius: 5px;

    font-size: 11pt;

    table#controls {
        border-spacing: @unit-100 0;

        td:first-child {
            font-weight: bold;
            text-align: right;
        }

        .control {
            display: flex;
            align-items: center;

            &.control-select .c-button.u-small {
                // Manual fuckery to make this look right;
                height: 33px;
            }

            .c-input-group {
                padding-right: @unit-100;
            }
        }

        .choices {
            margin: 4px 0;
        }

        .choices > .choice:not(.active) {
            .c-button.c-button--ghost();
        }

        .choices-fonts > .choice {
            &[data-font="sans"] {
                font-family: 'Noto Sans JP';
            }

            &[data-font="serif"] {
                font-family: 'Noto Serif JP';
            }
        }
        
        .choices-shades {
            display: inline-flex;

            > .choice {
                display: flex;
                align-items: center;

                padding: 8px 8px;

                > .box {
                    display: inline-block;
                    width: @color-control-box-size;
                    height: @color-control-box-size;

                    border: 1px gray solid;
                }

                &[data-shade="light"] > .box {
                    background-color: white;
                }

                &[data-shade="dark"] > .box {
                    background-color: black;
                }

                &[data-shade="sepia"] > .box {
                    background-color: @background-color-sepia;
                }
            }
        }
    }
}

#counter {
    display: inline-block;

    padding: 8px 5px;
    line-height: 100%;
}

#remove-button {
    display: inline-block;

    padding: 8px 5px;
    line-height: 100%;

    cursor: hand;

    &:hover {
        color: black;
        background-color: rgba(180, 180, 180, 0.8);
    }
}

#texthooker {
    margin: 26px;

    display: flex;

    &[data-line-direction="up"] {
        .texthooker-line {
            padding: @line-spacing 6px;
        } 
        flex-direction: column-reverse;
    }

    &[data-line-direction="down"] {
        .texthooker-line {
            padding: @line-spacing 6px;
        } 
        flex-direction: column;
    }

    &[data-line-direction="left"] {
        .texthooker-line {
            // TODO Fix this hackiness.
            max-height: calc(~'100% - 52px - 57px');
            padding: 6px @line-spacing;

            writing-mode: vertical-rl;
            text-orientation: upright;
        } 
        flex-direction: row-reverse;
    }

    &[data-line-direction="right"] {
        .texthooker-line {
            // TODO Fix this hackiness.
            max-height: calc(~'100% - 52px - 57px');
            padding: 6px @line-spacing;

            writing-mode: vertical-rl;
            text-orientation: upright;
        } 
        flex-direction: row;
    }

    &.font-sans {
        font-family: 'Noto Sans JP', sans-serif;
    }

    &.font-serif {
        font-family: 'Noto Serif JP', serif;
    }

    > .texthooker-line {
        display: flex;
        margin: 0;

        padding: 12px 0;

        justify-content: space-between;
        justify-items: center;

        position: relative;

        > .line-delete {
            cursor: pointer;
            user-select: none;

            color: #535353;
            opacity: 0;

            &:hover {
                color: #BCBCBC;
            }
        }

        &:hover > .line-delete {
            opacity: 1;
        }
    }
}

body[data-shade="dark"] .texthooker-line:hover {
    background-color: lighten(@background-color-dark, 2%);
}

body[data-shade="light"] .texthooker-line:hover {
    background-color: darken(@background-color-light, 4%);
}

body[data-shade="sepia"] .texthooker-line:hover {
    background-color: darken(@background-color-sepia, 4%);
}
